<div class="container"><h1>Editing friend</h1></div>
<br>
<div class="container">
  <%= render "form", friend: @friend %>


  <div>
    <%= link_to "Show this friend", @friend, class:'btn btn-dark' %> |
    <%= link_to "Back to friends", friends_path, class:'btn btn-info' %>
  </div>
</div>
